.tag {
  display: inline-block;
  padding: 2px 8px;
  border-radius: 20px;
  background-color: #fff;
  border: 1px solid #333;
  color: #333;
  font-size: 12px;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.35s;
  &:hover {
    background-color: #666;
    color: #fff;
  }
}

.active {
  background-color: #333;
  color: #fff;
}
