.main {
  background: #76997c;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.privatePage {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 768px;
  padding: 16px;
  width: 100%;
}
